<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Desktop Chat App</title>
    <link rel="stylesheet" th:href="@{/css/chatfilecss.css}" />
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="add-box">
                <input type="text" placeholder="Add User">
                <button class="add-button">Add</button>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="chat-section">
            <!-- Chat section content -->
            <div class="chat-messages">
                <!-- Chat messages will be displayed here -->
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Type your message">
                <button>Send</button>
            </div>
        </div>
    </div>
</body>
</html>
